<app-header></app-header>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="uname">Name:</label>
            <input class="form-control" type="text" id="uname" name="uname" formControlName="username">
            @if (userNameIsInvalid) {
            <small>Please enter valid User name</small>
            }
        </div>
        <div class="form-group col-md-4">
            <label for="phone">Phone:</label>
            <input class="form-control" type="text" id="phone" name="phone" formControlName="phone">
            @if(phoneIsInvalid)
            {
            <small>Please enter valid Phone number</small>
            }
        </div>
        <div class="form-group col-md-4">
            <label for="email">Email:</label>
            <input class="form-control" type="text" id="email" name="email" formControlName="email">
            @if(emailIsInvalid)
            {
            <small>Please enter the valid email address</small>
            }
        </div>
    </div>
    <!--Food preferences-->
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Food Preferences:</label>
            <ng-multiselect-dropdown [data]="foodOptions" formControlName="foodPreferences"
                [settings]="dropdownSettings">
            </ng-multiselect-dropdown>
        @if (foodPreferencesIsInvalid) {
            <small class="text-danger">Please select atleast one Food Preference</small>
        }
        </div>

        <div class="form-group col-md-4">
            <label for="foodPreferences">Country Name:</label>
            <ng-multiselect-dropdown [data]="countries" formControlName="country"
            [settings]="singleSelectSettings">
        </ng-multiselect-dropdown>
  
        </div>
    </div>
    <!--Country-->
    
       
    

    <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Create</button>
</form>