/* styles.css (or any other CSS file in your Angular project) */
h2 {
  
  margin-left: 70px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 20px;
}

input {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
  border: 1px solid #0000004b;

}

label {
  margin-left: 10px;
}

.user-error-message {
  color: red;
  font-size: 14px;
  display: block;
  margin-left: 10px;
  margin-right: 100px;

}

button [disabled] {
  opacity: 50%;
}

small {
  color: red;
  font-weight: normal;
  margin-left: 10px;

}

ng-select {
  border: 1px solid #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  border: 2px solid black;
  border-radius: 20px;
  width: 60%;
  padding-left: 250px;
}


button {
  margin-bottom: 10px;
}
button[type="button"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 20px;
}

